header {

    .container-header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .head-tab{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 327px;
        }

        .head-btn{
            padding: 19px 59px;
            border: 1px solid transparent;
            border-radius: 10px;
        }
    }
}