@import "placeholder";
@import "misin";

main {

    .section2 {

        .container-sect2{
            @include containerSect;
            text-align: center;
            padding: 100px 0;

            .section2-cards {

                .cards-name{
                    @extend %Titles;
                }

                .card-desc{
                    font-family: "Mulish", sans-serif !important;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.5002105832099915px;
                    color: #696871;
                    width: 307px;
                }
            }
        }
    }
}